TestService/TestService/Service References/CustomerSvc/CustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:16765/CustomerServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:16765/CustomerServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:16765/CustomerServices.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerServices_GetFavorites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFavorites" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_GetFavorites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFavoritesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_UpdateFavoritesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFavoritesByName" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_UpdateFavoritesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFavoritesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_GetCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_GetCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_AddACustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddACustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_AddACustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddACustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_SubmitToQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitToQueue" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_SubmitToQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitToQueueResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerServices">
    <wsdl:operation name="GetFavorites">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerServices/GetFavorites" message="tns:ICustomerServices_GetFavorites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerServices/GetFavoritesResponse" message="tns:ICustomerServices_GetFavorites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFavoritesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerServices/UpdateFavoritesByName" message="tns:ICustomerServices_UpdateFavoritesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerServices/UpdateFavoritesByNameResponse" message="tns:ICustomerServices_UpdateFavoritesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerServices/GetCustomerList" message="tns:ICustomerServices_GetCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerServices/GetCustomerListResponse" message="tns:ICustomerServices_GetCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddACustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerServices/AddACustomer" message="tns:ICustomerServices_AddACustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerServices/AddACustomerResponse" message="tns:ICustomerServices_AddACustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitToQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerServices/SubmitToQueue" message="tns:ICustomerServices_SubmitToQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerServices/SubmitToQueueResponse" message="tns:ICustomerServices_SubmitToQueue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerServices" type="tns:ICustomerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFavorites">
      <soap:operation soapAction="http://tempuri.org/ICustomerServices/GetFavorites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFavoritesByName">
      <soap:operation soapAction="http://tempuri.org/ICustomerServices/UpdateFavoritesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <soap:operation soapAction="http://tempuri.org/ICustomerServices/GetCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddACustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerServices/AddACustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitToQueue">
      <soap:operation soapAction="http://tempuri.org/ICustomerServices/SubmitToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServices">
    <wsdl:port name="BasicHttpBinding_ICustomerServices" binding="tns:BasicHttpBinding_ICustomerServices">
      <soap:address location="http://127.0.0.1:16765/CustomerServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>